<ul class='flex flex-col gap-2'>
  <li class='flex gap-2 items-center'>
    <Icon name='tabler:mail' size={18} class='text-emerald-500' />
    <span>
      <a href='mailto:info@managames.de'>info&commat;managames.de</a>
    </span>
  </li>

  <!--
  <li class='flex gap-2 items-center'>
    <Icon
      name='tabler:brand-whatsapp'
      size={18}
      class='text-emerald-500'
    />
    <span>
      <a href='tel:+4917672250669'>+49 176 722 506 69</a>
    </span>
  </li>

  <li class='flex gap-2 items-center'>
    <Icon
      name='tabler:brand-whatsapp'
      size={18}
      class='text-emerald-500'
    />
    <span>
      <a href='tel:+4917672250669'>+49 176 722 506 69</a>
    </span>
  </li>
  -->

  <li class='flex gap-2 items-center'>
    <Icon name='tabler:map-pin' size={18} class='text-emerald-500' />
    <span>
      <a href='#'>Blissestr. 5, 10715 Berlin</a>
    </span>
  </li>
</ul>